---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar";
import Banner from "../components/Banner";
import HeroSection from "../components/Home/HeroSection";
import AboutSection from "../components/Home/AboutSection";
import Footer from "../components/Footer";

const url = import.meta.env.WEBSITE_URL;
---

<Layout
  generator="Bean Street v1.0.0"
  title="Bean Street"
  description="The coffee shop where you can enjoy the best coffee in town! Our cozy and modern coffee shop is the perfect place to relax and enjoy a cup of coffee with friends or alone."
  websiteUrl={url}
  altImage="Bean Street Logo"
>
  <Navbar client:load />
  <Banner client:load />
  <main class="w-full">
    <HeroSection />
    <AboutSection />
    <Footer />
  </main>
</Layout>
