---
import MainLayout from "../../layouts/MainLayout.astro";
import Navbar from "../../components/Navbar/Navbar";

const url = import.meta.env.WEBSITE_URL;
---

<MainLayout
  generator="Bean Street v1.0.0"
  title="Bean Street"
  description="The coffee shop where you can enjoy the best coffee in town! Our cozy and modern coffee shop is the perfect place to relax and enjoy a cup of coffee with friends or alone."
  websiteUrl={url}
  altImage="Bean Street Logo"
>
  <Navbar client:load />
  <section class="mx-6 mt-12">
    <h1 class="pt-6 font-bold text-brown-700">Locations</h1>
    <p class="pt-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. A id et quae blanditiis
      iure qui, error rerum temporibus officia est, tempora, illum quis quod. Hic minima,
      voluptatibus non obcaecati quod amet dolorem consequuntur temporibus, vel esse dolor
      sit, ipsum ex illum sequi fugiat incidunt. Consequatur animi nihil culpa iste,
      repellat, praesentium, beatae iusto nulla debitis quis molestiae sed eveniet
      ducimus. Dolorum repellat atque id fuga, eos cupiditate accusantium possimus,
      deleniti reprehenderit, illum autem debitis ad officiis amet a sed! In tempore odit
      explicabo dolores, asperiores assumenda, sint incidunt pariatur possimus enim
      doloremque rem temporibus dolore cumque debitis natus doloribus at quisquam dolor,
      alias quidem. Dolores amet aut quibusdam officia non reiciendis vel ad consequatur
      enim, natus repudiandae aliquid exercitationem maxime nostrum eligendi. Nemo ut
      totam illo quas quod ullam, voluptas architecto dolores porro atque, aliquid dicta
      debitis! Minus perferendis recusandae repellat autem voluptatibus provident sequi
      debitis, fuga corporis aliquid natus error cupiditate maiores mollitia reiciendis
      ipsa tenetur vero ab, est pariatur? Ipsum, ab. Voluptate perferendis exercitationem
      omnis amet! Impedit molestiae culpa animi, deleniti tenetur repellat aspernatur
      ratione eius eligendi vero! Enim magnam dolor sit deserunt itaque. At voluptatum
      soluta iure quo, totam mollitia odio distinctio cumque accusantium corporis ratione
      omnis.
    </p>
    <p class="pt-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. A id et quae blanditiis
      iure qui, error rerum temporibus officia est, tempora, illum quis quod. Hic minima,
      voluptatibus non obcaecati quod amet dolorem consequuntur temporibus, vel esse dolor
      sit, ipsum ex illum sequi fugiat incidunt. Consequatur animi nihil culpa iste,
      repellat, praesentium, beatae iusto nulla debitis quis molestiae sed eveniet
      ducimus. Dolorum repellat atque id fuga, eos cupiditate accusantium possimus,
      deleniti reprehenderit, illum autem debitis ad officiis amet a sed! In tempore odit
      explicabo dolores, asperiores assumenda, sint incidunt pariatur possimus enim
      doloremque rem temporibus dolore cumque debitis natus doloribus at quisquam dolor,
      alias quidem. Dolores amet aut quibusdam officia non reiciendis vel ad consequatur
      enim, natus repudiandae aliquid exercitationem maxime nostrum eligendi. Nemo ut
      totam illo quas quod ullam, voluptas architecto dolores porro atque, aliquid dicta
      debitis! Minus perferendis recusandae repellat autem voluptatibus provident sequi
      debitis, fuga corporis aliquid natus error cupiditate maiores mollitia reiciendis
      ipsa tenetur vero ab, est pariatur? Ipsum, ab. Voluptate perferendis exercitationem
      omnis amet! Impedit molestiae culpa animi, deleniti tenetur repellat aspernatur
      ratione eius eligendi vero! Enim magnam dolor sit deserunt itaque. At voluptatum
      soluta iure quo, totam mollitia odio distinctio cumque accusantium corporis ratione
      omnis.
    </p>
    <p class="pt-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. A id et quae blanditiis
      iure qui, error rerum temporibus officia est, tempora, illum quis quod. Hic minima,
      voluptatibus non obcaecati quod amet dolorem consequuntur temporibus, vel esse dolor
      sit, ipsum ex illum sequi fugiat incidunt. Consequatur animi nihil culpa iste,
      repellat, praesentium, beatae iusto nulla debitis quis molestiae sed eveniet
      ducimus. Dolorum repellat atque id fuga, eos cupiditate accusantium possimus,
      deleniti reprehenderit, illum autem debitis ad officiis amet a sed! In tempore odit
      explicabo dolores, asperiores assumenda, sint incidunt pariatur possimus enim
      doloremque rem temporibus dolore cumque debitis natus doloribus at quisquam dolor,
      alias quidem. Dolores amet aut quibusdam officia non reiciendis vel ad consequatur
      enim, natus repudiandae aliquid exercitationem maxime nostrum eligendi. Nemo ut
      totam illo quas quod ullam, voluptas architecto dolores porro atque, aliquid dicta
      debitis! Minus perferendis recusandae repellat autem voluptatibus provident sequi
      debitis, fuga corporis aliquid natus error cupiditate maiores mollitia reiciendis
      ipsa tenetur vero ab, est pariatur? Ipsum, ab. Voluptate perferendis exercitationem
      omnis amet! Impedit molestiae culpa animi, deleniti tenetur repellat aspernatur
      ratione eius eligendi vero! Enim magnam dolor sit deserunt itaque. At voluptatum
      soluta iure quo, totam mollitia odio distinctio cumque accusantium corporis ratione
      omnis.
    </p>
  </section>
</MainLayout>
